form {
  margin-top: 50px;
}
form,
button {
  display: inline;
}
button {
  background: rgb(174, 204, 202);
  border: 0.2mm solid rgb(31, 138, 129);
  border-radius: 3px;
  padding: 3px 3px;
  transition: all 0.2s ease-out;
}
button:hover {
  background: rgb(240, 248, 248);
  cursor: pointer;
}
