.WeatherTemperature {
  font-size: 30px;
  font-weight: 800;
  position: relative;
  left: 60px;
  top: -80px;
  opacity: 0.9;
  color: black;
}
.currentTemperature {
  position: relative;
  left: -90px;
  top: 5px;
}
.unit {
  position: relative;
  left: -85px;
  top: -7px;
  color: black;
  font-size: small;
}
